.inb-box .inb-list {
    max-height: calc(100vh - 438px);
}

.inb-box .inb-list .inb-item .unread {
    border-radius: 0;
    background: none;
    width: 16px;
    height: 16px;
    top: 10px;
    cursor: pointer;
    color: var(--linkColor)
}

.inb-box .inb-list .inb-item .msg-sender {
    cursor: default;
}

.inb-box .inb-list .spin-container {
    text-align: center;
    width: 42px;
    margin: 0 auto;
    padding: 15px 0;
    display: none;
}

.inb-box .inb-list .spin-container.active {
    display: block;
}

.inb-box .inb-list .inb-item .unread:hover {
    color: #d96f51;
}

.inb-box .inb-new {
    padding-top: 15px;
}

.inb-box .inb-new .new-chat-btn {
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 25px;
}

.inb-box .inb-list .no-member {
    padding: 10px 0;
    text-align: center;
    color: #adadad;
}

/*  choose member popup  */
.mbr-srch .each-mbr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mbr-srch .each-mbr .avatar-sec {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.mbr-srch .each-mbr .avatar-sec .no-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.mbr-srch .each-mbr .avatar-sec .no-img .icn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 30px;
}

.mbr-srch .each-mbr .nam-sec {
    margin-left: 10px;
    width: calc(100% - 145px);
}

.mbr-srch .each-mbr .actn {
    margin-left: 10px;
    width: 65px;
}

.mbr-srch .srch-bar {
    position: relative;
    margin-bottom: 20px;
}

.mbr-srch .srch-bar .key-inp {
    padding-right: 35px;
    width: 100%;
    margin-bottom: 10px;
}

.mbr-srch .srch-bar .srch-sec {
    width: 100%;
}

.mbr-srch .srch-bar .srch-btn {
    position: absolute;
    border: none;
    padding: 0px;
    background: transparent;
    top: 10px;
    right: 7px;
}

.mbr-srch .show-more {
    text-align: center;
}

.mbr-srch .show-more .btn {
    padding: 5px 10px;
}

.mbr-srch .mbr-list {
    height: calc(100vh - 265px);
    overflow-y: auto;
}

.mbr-srch .no-mbr {
    text-align: center;
    padding-top: 35px;
}

@media screen and (max-width: 1359px) and (min-width:768px),
screen and (max-width: 500px) {
    .inb-box .inb-new .new-chat-btn {
        font-size: 1.0em;
        font-weight: 400;
    }
}