.pvd-details {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    min-height: 500px;
}

.pvd-details .pvd-info {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.pvd-details .pvd-info .img-sec {
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    min-height: 280px;
}

.pvd-details .pvd-info .img-sec .img-prev {
    transition: opacity .5s;
    position: relative;
    min-height: 100px;
    background-color: #ddd;
}

.pvd-details .pvd-info .img-sec.uploading .img-prev {
    opacity: .3;
}

.pvd-details .pvd-info .img-sec .img-prev .pvd-img {
    border-radius: 10px
}

.pvd-details .pvd-info .img-sec .img-prev .no-img {
    position: relative;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}

.pvd-details .pvd-info .img-sec .img-prev .no-img .img-icn {
    font-size: 7em;
    color: #9c9c9c;
}

.pvd-details .pvd-info .img-sec .img-prev .add-pvd-img {
    position: absolute;
    bottom: 18px;
    right: 24px;
    border-radius: 50%;
    background-color: #efefef;
}

.pvd-details .pvd-info .img-sec .add-pvd-img .cam-icn {
    padding: 10px 10px;
    font-size: 1.5em;
    cursor: pointer;
    color: #525252;
}

.pvd-details .pvd-info .img-sec .add-pvd-img .pvd-imp-inp {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pvd-details .pvd-info .img-sec .upload-img {
    height: 5px;
    background-color: #8c6692;
    display: none;
}

.pvd-details .pvd-info .img-sec.uploading .upload-img {
    display: block;
}

.pvd-details .pvd-info .img-sec .upload-img .pg-bar {
    background-color: #5b2166;
    height: 100%;
    transition: width .8s;
    width: 0;
}

.pvd-details .pvd-info .info-sec {
    width: calc(100% - 400px);
    color: #848588;
}

.pvd-details .pvd-info .info-sec .pvd-name {
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000;
}

.pvd-details .pvd-info .info-sec .pvd-itm {
    font-weight: 500;
    margin-bottom: 6px;
}

.pvd-details .pvd-info .info-sec .pvd-itm.phn {
    margin-bottom: 20px;
}

.pvd-details .pvd-info .info-sec .pvd-addr-lbl {
    color: #484848;
    font-weight: 600;
    font-size: 1.1em;
}

.pvd-details .dlt-btn {
    position: relative;
    display: flex;
}

.pvd-details .dlt-btn a {
    color: #727272;
    transform: color 275ms;
}

.pvd-details .dlt-btn a:hover {
    color: #8c6692;
}

.pvd-details .dlt-btn a .icn {
    padding: 8px;
    border: 1px solid #b9b9b9;
    border-radius: 50%;
    transform: border 275ms;
}

.pvd-details .dlt-btn a .icn:hover {
    border: 1px solid #8c6692;
}

@media only screen and (max-width: 767px) {
    .pvd-details {
        padding: 20px;
    }
}

@media only screen and (max-width: 659px) {
    .pvd-details {
        padding: 15px;
    }

    .pvd-details .pvd-info {
        display: block;
    }

    .pvd-details .pvd-info .img-sec {
        margin: 0 auto 20px;
    }

    .pvd-details .pvd-info .info-sec {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .pvd-details .dlt-btn {
        /* text-align: right; */
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 374px) {
    .pvd-details .pvd-info .img-sec .add-pvd-img {
        bottom: 35px;
    }
}