.plan-types {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 0 -10px;
    max-width: none;
}

.plan-types .plan-item {
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    padding: 20px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    margin: 0 10px 20px;
    display: block;
    transition: box-shadow .25s;
}

.plan-types .plan-item:hover {
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}

.plan-types .plan-item span {
    display: block;
}

.plan-types .plan-item .plan-info {
    color: #a8abb4;
}

.plan-types .plan-item .plan-info .plan-name {
    margin-bottom: 15px;
    font-size: 1.1em;
    font-weight: 800;
    color: #000;
}

.plan-types .plan-item .plan-info .plan-status {
    font-weight: 600;
    font-size: .9em;
    margin-bottom: 15px;
}

.plan-types .plan-item .plan-info .plan-status .sts {
    padding: 0px 12px;
    border-radius: 30px;
    display: inline-block;
}

.plan-types .plan-item .plan-info .plan-status .sts.active {
    background-color: #a2e295;
    color: #1b690c;
    border: 1px solid #1b690c;
}

.plan-types .plan-item .plan-info .plan-status .sts.inactive {
    background-color: #f4bec0;
    color: #ff1e1e;
    border: 1px solid #ff1e1e;
}

@media only screen and (max-width:1439px) {
    .plan-types .plan-item {
        width: calc(33.33% - 20px);
    }
}

@media only screen and (max-width:1129px) {
    .plan-types .plan-item {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width:425px) {
    .plan-types {
        display: block;
    }

    .plan-types .plan-item {
        margin-bottom: 20px;
        width: auto;
    }
}