.pass-req {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.pass-reg .req-form {
    margin-bottom: 70px;
}

.pass-req .req-form .form-box {
    text-align: center;
    width: 350px;
    margin: 0px auto;
}

.pass-req .req-form .form-box .logo {
    margin-bottom: 30px;
}

.pass-req .req-form .form-box .form-desc {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 10px;
}

.pass-req .req-form .form-box .form-sub-desc {
    color: #696969;
    margin-bottom: 15px;
}

.pass-req .req-form .form-box form .field {
    text-align: left;
    margin-top: 8px;
}

.pass-req .req-form .form-box form .field.btn {
    padding-top: 10px;
}

.pass-req .req-form .form-box form .field input {
    width: 100%;
}