.req-status {
    position: relative;
}

.req-status .req-wrap {
    padding: 50px 15px;
    position: relative;
    margin: 0px auto;
    width: 580px;
    color: rgb(77, 77, 77);
}

.req-status .req-wrap .req-card {
    background-color: #fff;
    border-radius: 50px;
    position: relative;
    padding: 50px 20px;
    box-shadow: 0 18px 22px rgba(0, 0, 0, 0.1);
}

.req-status .req-wrap .req-card .req-img {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.req-status .req-wrap .req-card .req-img img {
    width: 270px;
}

@media only screen and (max-width: 424px) {
    .req-status .req-wrap .req-card .req-hed {
        font-size: 1.2em;
    }
}