.sample-file {
    color: var(--primary);
    font-weight: 500;
    transition: color .3s ease-in-out;
}

.sample-file:hover {
    color: #a63eb6;
}

.duplicate-list.compare-list .duplicate-compare-card {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
}

.duplicate-list.compare-list .duplicate-compare-card .dup-header {
    font-weight: 600;
    color: #222;
}

.duplicate-list.compare-list .dup-compare-grid {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.duplicate-list.compare-list .dup-compare-grid .dup-column.uploaded {
    min-width: 280px;
}