.trans-hed {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.trans-hed .hed-left {
    margin-right: 10px;
    color: #8294b7;
    font-size: .9em;
    font-weight: 600;
    max-width: 100px;
}

.trans-hed .hed-right form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
}

.trans-hed .hed-right form .sh-item {
    display: flex;
    align-items: flex-end;
}

.trans-hed .hed-right form .sh-itm {
    margin-right: 15px;
}

.trans-hed .hed-right form .sh-itm.key {
    margin-right: 0px;
}

.trans-hed .hed-right form .sh-label {
    padding-left: 5px;
    font-size: .9em;
    font-weight: 500;
    color: #979797;
    margin-bottom: 5px;
}

.trans-hed .hed-right form .sh-fld {
    display: flex;
    align-items: center;
}

.trans-hed .hed-right form .sh-fld .sh-sep {
    margin: 0 5px;
    color: #979797;
}

.trans-hed .hed-right form .sh-fld .sh-box {
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    border-radius: 15px;
    overflow: hidden;
    width: 115px;
}

.trans-hed .hed-right form .sh-fld .sh-box input {
    border: none;
    background-color: #fff;
    box-shadow: 0 0 0px rgba(0, 0, 0, .1);
    padding: 12px;
    border-radius: 0;
    width: 100%;
}

.trans-hed .hed-right form .sh-fld .sh-box input::placeholder {
    color: #8294b7;
    font-size: .9em;
    font-weight: 600;
}

.trans-hed .hed-right form select {
    padding: 13px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    font-weight: 600;
    color: #8294b7;
    font-size: .9em;
    appearance: none;
    background-image: url('../../../images/down\ arrow.png');
    background-repeat: no-repeat;
    background-size: 15px;
    width: 122px;
    background-position: 100px center;
}

.transaction-card {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 0px rgba(0, 0, 0, .1);
    margin-bottom: 30px;
}

.transaction-card .transaction-list {
    border-bottom: 1px solid #EFF1F5;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.transaction-card .transaction-list:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.transaction-card .transaction-list a {
    display: flex;
    color: #546486;
}

.transaction-card .transaction-list a .trtn-item {
    display: flex;
}

.transaction-card .transaction-list a .left {
    width: calc(40%);
    margin-right: 20px;
}

.transaction-card .transaction-list a .left .trtn-itm {
    display: block;
    width: calc(50%);
}

.transaction-card .transaction-list a .left .id {
    padding-right: 20px;
}

.transaction-card .transaction-list a .right {
    width: calc(60%);
}

.transaction-card .transaction-list a .right .trtn-item {
    width: calc(33.33%);
    display: block;
    padding-right: 20px;
}

.transaction-card .transaction-list a .right .trtn-item:last-child {
    padding-right: 0px;
}

.transaction-card .transaction-list a .right .trtn-item.memb {
    display: flex;
    position: relative;
}

.transaction-card .transaction-list a .right .trtn-item .memb-thumb {
    display: block;
    border-radius: 50%;
    line-height: 0;
    margin-right: 20px;
    overflow: hidden;
    width: 40px;
    align-self: flex-start;
}

.transaction-card .transaction-list a .right .trtn-item .memb-thumb .no-thumb {
    background-color: #e7e7e7;
    position: relative;
    display: block;
}

.transaction-card .transaction-list a .right .trtn-item .memb-thumb .no-thumb::after {
    content: '';
    padding-top: 100%;
    display: block;
}

.transaction-card .transaction-list a .right .trtn-item .memb-thumb .no-thumb .no-thmb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #979797;
    font-size: 1.7em;
}

.transaction-card .transaction-list a .top {
    display: block;
    margin-bottom: 5px;
    color: #959FA7;
    font-size: .9em;
}

.transaction-card .transaction-list a .btm {
    display: block;
    font-size: 1.1em;
    font-weight: 500;
}

.transaction-card .transaction-list a .id .top {
    font-weight: 500;
    font-size: 1.1em;
}

.transaction-card .transaction-list a .id .btm {
    font-size: .9em;
}

.transaction-card .transaction-list a .btm.sts {
    display: block;
    position: relative;
}

.transaction-card .transaction-list a .btm.sts.success {
    color: #1B9407;
}

.transaction-card .transaction-list a .btm.sts.pending {
    color: #FD3801;
}

@media only screen and (max-width: 1289px) {
    .transaction-card .transaction-list a {
        display: block;
    }

    .transaction-card .transaction-list a .left {
        width: auto;
        margin-right: 0px;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .transaction-card .transaction-list a .left .price {
        text-align: right;
    }

    .transaction-card .transaction-list a .right {
        width: auto;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .transaction-card .transaction-list a .right .trtn-item:last-child {
        width: auto;
        text-align: right;
    }
}

@media only screen and (max-width: 768px) {
    .transaction-card .transaction-list a .right .trtn-item {
        width: auto;
    }
}

@media only screen and (max-width: 629px) {
    .transaction-card .transaction-list a .right .trtn-item.memb {
        width: 50%;
    }

    .transaction-card .transaction-list a .right .trtn-item.status {
        padding-right: 0px;
        text-align: right;
    }

    .transaction-card .transaction-list a .right .trtn-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .transaction-card .transaction-list a .right .trtn-item:last-child {
        text-align: left;
    }
}

@media only screen and (max-width: 425px) {
    .transaction-card .transaction-list a .left {
        display: block;
    }

    .transaction-card .transaction-list a .left .id {
        margin-bottom: 20px;
    }

    .transaction-card .transaction-list a .left .price {
        text-align: left;
    }

    .transaction-card .transaction-list a .left .trtn-itm {
        width: auto;
    }

    .transaction-card .transaction-list a .right {
        display: block;
    }

    .transaction-card .transaction-list a .right .trtn-item.memb {
        width: auto;
    }

    .transaction-card .transaction-list a .right .trtn-item.status {
        text-align: left;
    }
}