.enquiries-hed {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.enquiries-hed .hed-left {
    padding-right: 10px;
}

.enquiries-hed .hed-left .list-count {
    color: #8294b7;
    font-size: .9em;
    font-weight: 600;
    min-width: 100px;
}

.enquiries-hed .hed-right form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
}

.enquiries-hed .hed-right form .enq-select select {
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    font-weight: 600;
    color: #8294b7;
    appearance: none;
    background-image: url('../../../images/down\ arrow.png');
    background-repeat: no-repeat;
    background-size: 15px;
}

.enquiries-hed .hed-right form .enq-select.scope select {
    width: 135px;
    background-position: 100px center;
}

.enquiries-hed .hed-right form .enq-select.ctgry select {
    width: 175px;
    background-position: 140px center;
}

.pix-key-search {
    margin-left: 10px;
}

.enquiries-hed .hed-right form .enq-search {
    min-width: 320px;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    padding: 12px 0px 12px 60px;
    display: flex;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    margin-left: 10px;
}

.enquiries-hed .hed-right form .enq-search .icn {
    content: "";
    position: absolute;
    left: 16px;
    top: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #c3cbda;
    font-size: 2em;
}

.enquiries-hed .hed-right form .enq-search .srch {
    border: none;
    background-color: #fff;
    box-shadow: 0 0 0px rgba(0, 0, 0, .1);
    padding: 0px;
}

.enquiries-hed .hed-right form .enq-search .srch::placeholder {
    color: #8294b7;
    font-size: .9em;
    font-weight: 600;
}

.enquiries-hed .hed-right form .enq-search .sh-btn {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
}

.enquiries-hed .hed-right form .enq-search .sh-btn button {
    background-color: #5b2166;
    color: #fff;
    font-weight: 500;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 9.5px 18px;
}

.enq-wrap {
    position: relative;
}

.enq-wrap .enq-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 30px 35px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    color: #546486;
    font-weight: 500;
}

.enq-wrap .enq-card.hed {
    background-color: #eaedf2;
    padding: 15px 40px;
    color: #8c9cbc;
    font-size: .9em;
}

.enq-wrap .enq-card.list.unread {
    background-color: #f7f7f7;
}

.enq-wrap .enq-card .list-item {
    display: flex;
    align-items: center;
}

.enq-wrap .enq-card .list-item.left {
    width: calc(37.5%);
    padding-right: 10px;
}

.enq-wrap .enq-card .list-item.mid {
    width: calc(37.5%);
    padding-right: 10px;
}

.enq-wrap .enq-card .list-item.right {
    width: calc(25%);
}

.enq-wrap .enq-card .list-item .txt-left {
    flex: 0 1 50%;
    padding-right: 10px;
    position: relative;
}

.enq-wrap .enq-card .list-item .txt-left.img {
    flex: 0 1 35%;
}

.enq-wrap .enq-card .list-item .img img {
    width: 50px;
}

.enq-wrap .enq-card .list-item .img .no-logo {
    position: relative;
    display: block;
}

.enq-wrap .enq-card .list-item .img .no-logo .icn {
    background-color: #e7e7e7;
    padding: 10px;
    color: #979797;
    font-size: 25px;
}

.enq-wrap .enq-card .list-item.mid .txt-left {
    flex: 0 1 60%;
    padding-right: 10px;
}

.enq-wrap .enq-card .list-item.mid .txt-left.em {
    word-break: break-word;
}

.enq-wrap .enq-card .list-item.right .txt-left {
    flex: 0 1 60%;
}

.enq-wrap .enq-card .list-item .txt-left .sts {
    border-radius: 10px;
    padding: 2px 20px;
    text-align: center;
}

.enq-wrap .enq-card .list-item .txt-left .sts.active {
    border: 1px solid #0a7d07;
    color: #0a7d07;
    background-color: #bdf4c2;
}

.enq-wrap .enq-card .list-item .txt-left .sts.inactive {
    border: 1px solid #ff1e1e;
    color: #ff1e1e;
    background-color: #f4bec0;
    padding: 2px 15px;
}

.enq-wrap .enq-card .list-item .txt-right {
    flex: 1 1 0;
    position: relative;
}

.enq-wrap .enq-card .list-item.right .txt-right {
    display: flex;
    justify-content: flex-end;
}

.enq-wrap .enq-card .list-item.right .txt-right a {
    color: #c3cbda;
    transition: color 275ms;
}

.enq-wrap .enq-card .list-item.right .txt-right a:hover {
    color: #8c6692;
}

.enq-wrap .enq-card .list-item.right .txt-right a .icn {
    padding: 8px;
    border: 1px solid #e9eaea;
    border-radius: 50%;
    transition: border 275ms;
}

.enq-wrap .enq-card .list-item.right .txt-right a .icn:hover {
    border: 1px solid #8c6692;
}

@media only screen and (max-width: 1440px) {
    .enq-wrap .enq-card {
        padding: 20px;
    }

    .enq-wrap .enq-card.hed {
        padding: 15px 20px;
    }
}

@media only screen and (max-width: 1120px) and (min-width: 1025px) {
    .pix-key-search {
        margin-top: 10px;
    }

    .enquiries-hed .hed-right form .enq-search {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 790px) {
    .pix-key-search {
        margin-top: 10px;
    }

    .enquiries-hed .hed-right form .enq-search {
        margin-top: 10px;
    }
}


/* @media only screen and (max-width: 768px) and (min-width: 579px) {
    .enq-wrap .enq-card .list-item .labels {
        display: flex;
    }
} */

@media only screen and (max-width: 768px) {
    .enq-wrap .enq-card.hed {
        display: none;
    }

    .enq-wrap .enq-card {
        display: block;
    }

    .enq-wrap .enq-card .list-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .enq-wrap .enq-card .list-item.left {
        width: calc(100%);
        padding-right: 0;
    }

    .enq-wrap .enq-card .list-item.mid {
        width: calc(100%);
        padding-right: 0;
    }

    .enq-wrap .enq-card .list-item.right {
        width: calc(100%);
    }

    .enq-wrap .enq-card .list-item.mid .txt-left {
        flex: 0 1 50%;
    }

    .enq-wrap .enq-card .list-item.right .txt-left {
        flex: 0 1 50%;
    }

    .enq-wrap .enq-card .list-item .txt-left.img {
        flex: 0 1 50%;
    }

    .enq-wrap .enq-card .list-item .labels {
        display: flex;
    }

    .enq-wrap .enq-card .list-item .labels::before {
        position: relative;
        color: #8c9cbc;
        font-size: .9em;
        width: calc(50%);
    }

    .enq-wrap .enq-card .list-item .labels.nm::before {
        content: "Name";
    }

    .enq-wrap .enq-card .list-item .labels.ct::before {
        content: "Category";
    }

    .enq-wrap .enq-card .list-item .labels.pv::before {
        content: "Provider";
    }

    .enq-wrap .enq-card .list-item .labels.sp::before {
        content: "Scope";
    }

    .enq-wrap .enq-card .list-item .labels.nam::before {
        content: "Name";
    }

    .enq-wrap .enq-card .list-item .labels.em::before {
        content: "Email";
    }

    .enq-wrap .enq-card .list-item .labels.ph::before {
        content: "Phone";
    }
}

@media only screen and (max-width: 768px) and (min-width: 580px) {
    .enq-wrap .enq-card .list-item.right .txt-right {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 579px) {
    .enq-wrap .enq-card .list-item .labels {
        flex-direction: column;
    }

    .enq-wrap .enq-card .list-item .txt-right {
        text-align: right;
    }

    .enq-wrap .enq-card .list-item .labels::before {
        width: calc(100%);
    }

    .enq-wrap .enq-card .list-item.right .txt-right {
        /* justify-content: flex-end; */
    }
}

@media only screen and (max-width: 459px) {
    .enq-wrap .enq-card .list-item.mid.pv {
        display: block;
    }

    .enq-wrap .enq-card .list-item .txt-left.em {
        margin-bottom: 20px;
    }

    .enq-wrap .enq-card .list-item .txt-right.ph {
        text-align: left;
    }
}

@media only screen and (max-width: 470px) {
    .enquiries-hed {
        align-items: flex-start;
        flex-direction: column;
    }

    .enquiries-hed .hed-left {
        order: 2;
    }

    .enquiries-hed .hed-right {
        order: 1;
        margin-bottom: 10px;
    }

    .enquiries-hed .hed-right form {
        justify-content: flex-start;
    }

    .enquiries-hed .hed-right form .enq-search {
        margin-left: 0px;
    }

    .pix-key-search {
        margin-left: 0;
    }
}

@media only screen and (max-width: 350px) {
    .enquiries-hed .hed-right form .enq-select select {
        padding: 6px 12px;
    }

    .enquiries-hed .hed-right form .enq-select.scope select {
        width: 125px;
    }

    .enquiries-hed .hed-right form .enq-select.ctgry select {
        width: 150px;
    }

    .enquiries-hed .hed-right form .enq-select.ctgry select {
        background-position: 125px center;
    }

    .enquiries-hed .hed-right form .enq-search {
        min-width: 290px;
    }

    .pix-key-search .sh-btn button {
        padding: 9.5px 10px;
    }
}