.advocacy-hed {
    display: flex;
    align-items: flex-end;
}

.advocacy-hed .hed-left {
    margin-right: 20px;
    flex: 1 1 0;
    color: #8294b7;
    font-size: .9em;
    font-weight: 600;
    min-width: 100px;
}

.advocacy-hed .hed-right form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
}

.advocacy-hed .hed-right form .scp-select select {
    padding: 12px 15px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    font-weight: 600;
    appearance: none;
    color: #8294b7;
    background-image: url('../../../images/down\ arrow.png');
    background-repeat: no-repeat;
    background-size: 15px;
    width: 135px;
    background-position: 100px center;
    margin-right: 10px;
}

.advocacy-list {
    display: flex;
    flex-wrap: wrap;
    margin: 40px -15px 0 -15px;
    max-width: none !important;
}

.advocacy-list .adv-card {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    margin: 0 12px 30px;
    border-radius: 22px;
    padding: 25px;
    width: calc(33.33% - 24px);
    border: 1px solid #fff;
    transition: border-color .3s, box-shadow .3s;
}

.advocacy-list .adv-card:hover {
    border: 1px solid #bfc8e5;
    box-shadow: 0 0 22px rgba(191, 200, 229, 0.6);
}

.advocacy-list .adv-card * {
    display: block;
}

.advocacy-list .adv-card .adv-thumb {
    width: 100px;
    height: 100px;
    background-color: #e3e3e3;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #494949;
    font-size: 19px;
    font-weight: 600;
    margin-right: 16px;
    flex-shrink: 0;
}

.advocacy-list .adv-card .adv-thumb .cr-img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.advocacy-list .adv-card .adv-info {
    flex: 1 1 0;
}

.advocacy-list .adv-card .adv-info .adv-title {
    color: #000;
    font-size: 1.2em;
    margin-bottom: 2px;
    font-weight: 500;
}

.advocacy-list .adv-card .adv-info .adv-scope {
    color: #000;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.advocacy-list .adv-card .adv-info .adv-itm {
    color: #6b6b6b;
    margin-bottom: 5px;
    font-weight: 500;
}

.advocacy-list .adv-card .adv-info .adv-sts {
    margin-top: 20px;
}

.advocacy-list .adv-card .adv-info .adv-sts .sts {
    display: inline-block;
    font-size: .8em;
    color: #516fd4;
    border: 1px solid #bfc8e5;
    border-radius: 19px;
    padding: 3px 7px;
    margin-bottom: 8px;
}

.advocacy-list .adv-card .adv-info .adv-sts .sts.active {
    background-color: #d9f5dc;
    border-color: #0a7d07;
    color: #0a7d07;
}

.advocacy-list .adv-card .adv-info .adv-sts .sts.inactive {
    background-color: #fff5f5;
    border-color: #f00;
    color: #f00;
}

@media only screen and (max-width:1599px) {
    .advocacy-list {
        margin: 40px -10px 0 -10px;
    }

    .advocacy-list .adv-card {
        margin: 0 10px 20px;
        padding: 20px;
        width: calc(33.33% - 20px);
    }
}

@media only screen and (max-width:1429px) and (min-width:768px) {
    .advocacy-list .adv-card {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width:767px) and (min-width:620px) {
    .advocacy-list .adv-card {
        width: calc(50% - 20px);
    }

    .advocacy-list .adv-card .adv-thumb {
        width: 80px;
        height: 80px;
    }
}

@media only screen and (max-width:689px) {
    .advocacy-list {
        display: block;
    }

    .advocacy-list .adv-card {
        width: auto;
    }
}

@media only screen and (max-width:679px) {
    .advocacy-hed {
        display: block;
    }

    .advocacy-hed .hed-left {
        margin-bottom: 20px;
    }

    .advocacy-hed .hed-right form {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 494px) {
    .advocacy-hed .hed-right form .pix-key-search {
        margin-top: 20px;
    }
}

@media only screen and (max-width:375px) {
    .advocacy-list .adv-card {
        display: block;
    }

    .advocacy-list .adv-card .adv-thumb {
        margin: 0 auto 20px;
    }

    .advocacy-list .adv-card .adv-info {
        text-align: center;
    }
}

@media only screen and (max-width:339px) {
    .pix-key-search .sh-btn button {
        padding: 9.5px 10px;
    }
}