.fm-field {
    position: relative;
    display: flex;
    margin-bottom: 20px
}

.fm-field.scope {
    display: none;
}

.fm-field.scope.show {
    display: flex;
}

.fm-field .fld-label {
    width: 350px;
    padding: 6px;
    font-weight: 600;
    padding-right: 10px;
}

.fm-field .fld-label .pdf-condtn .lbl {
    color: #9c9c9c;
}

ul li span {
    color: #7e7e7e;
    font-weight: 400;
}

.fm-field .fld-inp {
    flex: 1 1 0;
}

.fm-field .fld-inp.pdf {
    max-width: 1000px;
}

.fm-field .fld-inp.ctry-sec {
    margin: 0px -15px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.fm-field .fld-inp.ctry-sec .pix-check {
    margin: 8px 15px;
    width: calc(33.33% - 30px);
}

.fm-field .fld-inp .img-prev {
    width: 150px;
    min-height: 150px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.fm-field .fld-inp .img-prev img {
    border-radius: 20px;
}

.fm-field .fld-inp .img-prev .no-img {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
}

.fm-field .fld-inp .img-prev .no-img .img-icn {
    font-size: 4em;
    color: #9c9c9c;
}

.fm-field .fld-inp .file-up {
    position: relative;
    width: 115px;
}

.fm-field .fld-inp .file-up .flp-up {
    background-color: #3a59e2;
    padding: 5px 15px;
    font-size: .9em;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    color: #fff;
}

.fm-field .fld-inp .file-up .adv-img {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1259px) {
    .fm-field.pdf {
        display: block;
    }

    .fm-field .fld-label.pdf {
        margin-bottom: 10px;
        width: auto;
    }

    .fm-field .fld-label {
        width: 150px;
    }
}

@media only screen and (max-width: 767px) {
    .fm-field {
        display: block;
        margin-bottom: 15px;
    }

    .fm-field .fld-label {
        width: auto;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 550px) {
    .fm-field .fld-inp.ctry-sec .pix-check {
        width: calc(50% - 30px);
    }

    .fm-field .fld-label .pdf-condtn {
        font-size: .8em;
    }

    .fm-field .fld-label .pdf-condtn ul {
        padding-left: 16px;
    }
}

@media only screen and (max-width: 400px) {
    .fm-field .fld-inp.ctry-sec .pix-check {
        width: 100%;
    }
}