.fm-field {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.fm-field .fld-label {
  width: 150px;
  padding: 6px;
  font-weight: 600;
  padding-right: 10px;
}

.fm-field .fld-inp {
  flex: 1 1 0;
}

.fm-field .fld-inp .fndr-inp:not(:last-child) {
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .fm-field {
    display: block;
    margin-bottom: 15px;
  }
  .fm-field .fld-label {
    width: auto;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
}
