.fm-field {
    position: relative;
    display: flex;
    margin-bottom: 20px
}

.fm-field .fld-label {
    width: 150px;
    padding: 6px;
    font-weight: 600;
    padding-right: 10px;
}

.fm-field .fld-inp {
    flex: 1 1 0;
}

.fm-field .fld-inp .perm-row {
    display: flex;
}

.fm-field .fld-inp .perm-row:not(:first-child) {
    margin-top: 35px;
}

.fm-field .fld-inp .perm-row .perm-chk {
    flex-shrink: 0;
    width: 70px;
    padding-top: 13px;
}

.fm-field .fld-inp .perm-row .perm-body .pm-title {
    font-size: 1.15em;
    font-weight: 600;
    margin-bottom: 5px;
}

.fm-field .fld-inp .perm-row .perm-body .pm-body {
    color: #646464;
}

.fm-field .fld-inp .perm-row .perm-body .members-mod {
    display: none;
    flex-wrap: nowrap;
    align-items: center;
    color: #646464;
}

.fm-field .fld-inp .perm-row .perm-body .members-mod.active {
    display: flex;
    padding-top: 15px;
}

.fm-field .fld-inp .perm-row .perm-body .members-mod .pix-toggle {
    margin-right: 10px;
}

.fm-field.submit-box {
    background-color: rgba(247, 247, 249, 0.7);
    border-top: 1px solid #e4e4e6;
    bottom: 0;
    margin-top: 30px;
    padding: 14px 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 767px) {
    .fm-field {
        display: block;
        margin-bottom: 15px;
    }

    .fm-field .fld-label {
        width: auto;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
}