<html>

<head>
    <title>[subject]</title>
</head>

<body>
    <div class="fx-box">
        <div class="container" style="
            background-color:#EFEFEF;
            font-family: sans-serif,Trebuchet MS;
            font-size:15px;
            margin-top:0;
            margin-bottom:0;
            margin-right:auto;
            margin-left:auto;
            max-width:100%;
        ">
            <div style="
                    padding: 20px 0;
                    text-align: center;
                    background-color: #5b2166;
            ">
                <img src="[domain]email-logo.png" alt="NCNW Logo" width="60" />
            </div>
            <div class="content-area" style="
                color:#333;
                word-wrap:break-word;
                padding-top:30px;
                padding-bottom:30px;
                padding-right:25px;
                padding-left:25px;
                text-align: center;
                background-color: #fff;
            ">

                [content]
            </div>
        </div>
    </div>
</body>

</html>