<div style="text-align: left; padding: 20px; margin: 0 auto;width: 767px;border: 1px solid #ccc;border-radius: 9px;">
    <p><strong>Hi,</strong></p>
    <p style="font-size: 15px; font-weight: 600;">
        [TMPL-TITLE]
    </p>
    {{if.MESSAGE}}
    <div style="padding:0px;">
        <p>[TMPL-MESSAGE]</p>
    </div>
    {{endif.MESSAGE}}
    <div style="padding: 18px 0px;">
        <table cellpadding="5" style="margin-bottom: 25px; font-size: 15px;">
            <tr>
                <td style="color: #777;">Request ID:</td>
                <td style="font-weight: 600;">[TMPL-REQID]</td>
            </tr>
            <tr>
                <td style="color: #777;">Priority:</td>
                <td style="font-weight: 600;">[TMPL-PRIORITY]</td>
            </tr>
            <tr>
                <td style="color: #777;">Request Type:</td>
                <td style="font-weight: 600;">[TMPL-REQTYPE]</td>
            </tr>
        </table>
        <div style="margin-bottom: 20px; line-height: 25px">
            <p>[TMPL-SUMMARY]</p>
        </div>
        <div style="font-size: 15px; line-height: 25px;">
            Simply click this button to access all the details.
            <a href="[TMPL-LINK]"
                style="padding: 4px 18px;font-size: 15px;background-color: #333;color: #ccc;border-radius: 8px; text-decoration: none">View
                Details</a>
        </div>
    </div>

</div>