<div style="text-align: center;">
    <p style="
        font-size: 32px;
        margin-bottom: 10px;
        color: #003C46;
    ">
        <strong>Hi [TMPL-USERNAME]</strong>
    </p>
    <p style="
        margin-bottom: 30px;
        font-size: 20px;
        margin-top: 9px;
    ">
        [TMPL-BODYTXT]
    </p>
    <a href="[TMPL-LINK]" style="
        border: 1px solid #F194CB;
        display: inline-block;
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;
        padding: 20px 40px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        background-color: #F194CB;
        border-radius: 30px;
        margin-bottom: 40px;
    ">
        [TMPL-BTN-TEXT]
    </a>
    <p style="
        font-size: 14px;
        letter-spacing: 1px;
        color: #3C3C3C;
    ">
        [TMPL-ALT-LINK-TEXT]
    </p>
    <a href="[TMPL-LINK]" style="
        font-size: 14px;
        margin-bottom: 55px;
        display: block;
        color: #0491A9;
    ">[TMPL-LINK]</a>
    <p style="
        font-size: 12px;
        color: #666666;
        margin-bottom: 35px;
    ">
        <strong>Note:</strong>
        This link is valid upto
        <b>[TMPL-VALID]</b>
    </p>
</div>