name: FTP Upload

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: FTP Upload
        uses: SamKirkland/FTP-Deploy-Action@4.3.3
        with:
          server: 148.72.51.248
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: web/
          server-dir: /
